<div class="row">
  <div class="col-12">
    <h4 class="card-title mb-3">Add Truck</h4>
    <div class="card-body">
      <form class="form" [formGroup]="addTruckForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label class="required" for="license">License</label>
              <input
                type="text"
                id="license"
                class="form-control"
                placeholder="License"
                formControlName="license"
                [ngClass]="{
                  'is-invalid': f['license'].touched && f['license'].errors,
                  'is-valid': f['license'].touched && !f['license'].errors
                }"
                aria-describedby="licenseRequiredFeedback"
              />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label class="required" for="make">Make</label>
              <input
                type="text"
                id="make"
                class="form-control"
                placeholder="Make"
                formControlName="make"
                [ngClass]="{
                  'is-invalid': f['make'].touched && f['make'].errors,
                  'is-valid': f['make'].touched && !f['make'].errors
                }"
                aria-describedby="makeRequiredFeedback"
              />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label for="color">Color</label>
              <input
                type="text"
                id="color"
                class="form-control"
                placeholder="Color"
                formControlName="color"
              />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label for="engineSize">Engine Size</label>
              <div class="input-group">
                <input
                type="number"
                id="engineSize"
                class="form-control"
                placeholder="Engine Size"
                formControlName="engineSize"
              />
              <span class="input-group-text">cc</span>
              </div>
              
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label for="maxCapacity">Max Capacity</label>
              <input
                type="number"
                id="maxCapacity"
                class="form-control"
                placeholder="Max Capacity"
                formControlName="maxCapacity"
              />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label for="year">Year</label>
              <input
                type="number"
                id="year"
                class="form-control"
                placeholder="Year"
                formControlName="year"
              />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label class="required" for="rentalPrice">Rental Price</label>
              <div class="input-group">
                <span class="input-group-text">$</span>
                <input
                type="number"
                id="rentalPrice"
                class="form-control"
                placeholder="Rental Price"
                formControlName="rentalPrice"
                [ngClass]="{
                  'is-invalid': f['rentalPrice'].touched && f['rentalPrice'].errors,
                  'is-valid': f['rentalPrice'].touched && !f['rentalPrice'].errors
                }"
                aria-describedby="rentalPriceRequiredFeedback"
              />
              </div>
              
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-12">
              <button
                type="submit"
                [disabled]="!addTruckForm.valid || loading"
                rippleEffect
                class="btn btn-primary me-3"
              >
                <span
                  *ngIf="loading"
                  class="spinner-grow spinner-grow-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                <span class="ms-1" *ngIf="loading; else submit">
                  Submitting...</span
                >
                <ng-template #submit>Submit</ng-template>
              </button>
              <button
                type="reset"
                rippleEffect
                class="btn btn-outline-secondary"
              >
                Reset
              </button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
