<div
  *ngIf="showMenu || mustShow"
  [@inOutAnimation]
  class="sidebar-menu" data-bs-theme="dark"
>
  <ul class="nav flex-column scrollable-menu">
    <li class="divider">Menu</li>
    <li class="nav-item" [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" routerLink="/">
        <span class="icon">
          <i class="fas fa-home"></i>
        </span>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="divider">Trucks</li>
    <li class="nav-item" [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" routerLink="/add-truck" >
        <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
        <span>Add Truck</span>
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" routerLink="/trucks" >
        <span class="icon">
          <i class="fas fa-truck"></i>
        </span>
        <span>View Trucks</span>
      </a>
    </li>
    <li class="divider">Customers</li>
    <li class="nav-item" [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" routerLink="/add-customer">
        <span class="icon">
          <i class="fas fa-user-plus"></i>
        </span>
        <span>Add Customer</span>
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" routerLink="/customers">
        <span class="icon">
          <i class="fas fa-users"></i>
        </span>
        <span>Customers</span>
      </a>
    </li>
  </ul>
</div>
