

.navbar-toggler {
    font-size: inherit;
}

.toggler-wrapper {
    display: none;
}

.wrapper {
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    //top: 49px;
    //min-height: calc(100% - 90px);
    min-height: 100%;
    height: auto;
    //top: 90px;
    padding: 7.75rem 2rem 0;
}

.dash-wrapper {
    width: 100%;
    position: relative;
}

.page-loader-wrapper {
    z-index: 99999999;
    position: fixed;
    inset: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(34, 37, 42);
}

.page-loader-wrapper .loader {
    margin: 0px auto;
    width: 70px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.page-loader-wrapper .loader .bar1 {
    background-color: rgb(252, 60, 95);
}

.page-loader-wrapper .loader .bar2 {
    background-color: rgb(153, 60, 252);
    animation-delay: -0.8s;
}

.page-loader-wrapper .loader .bar3 {
    background-color: rgb(60, 169, 252);
    animation-delay: -0.7s;
}

.page-loader-wrapper .loader .bar4 {
    background-color: rgb(60, 252, 95);
    animation-delay: -0.6s;
}

.page-loader-wrapper .loader .bar5 {
    background-color: rgb(252, 223, 60);
    animation-delay: -0.5s;
}

.page-loader-wrapper .loader>div {
    height: 100%;
    width: 8px;
    display: inline-block;
    margin-left: 2px;
    animation: 0.9s ease-in-out 0s infinite normal none running delay;
}

@-webkit-keyframes delay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.05);
    }

    20% {
        -webkit-transform: scaleY(1);
    }
}

@keyframes delay {

    0%,
    40%,
    100% {
        transform: scaleY(0.05);
        -webkit-transform: scaleY(0.05);
    }

    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}

@media only screen and (max-width: 1000px) {
    .wrapper {
        left: 0;
        width: 100%;
    }

    .toggler-wrapper {
        display: block;
    }
}