<div class="row">
  <div class="col-12">
    <h4 class="card-title mb-3">Add Department</h4>
    <div class="card-body">
      <form class="form" [formGroup]="addDepartmentForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label class="required" for="name">Department Name</label>
              <input
                type="text"
                id="name"
                class="form-control"
                placeholder="Name"
                formControlName="name"
                [ngClass]="{
                  'is-invalid': f['name'].touched && f['name'].errors,
                  'is-valid': f['name'].touched && !f['name'].errors
                }"
                aria-describedby="nameRequiredFeedback"
              />
            </div>
          </div>
          <div class="col-md-6 col-12">
            <label class="required">Supervisor</label>
            <div class="form-group">
              <ng-select
                [items]="employees"
                bindLabel="title"
                bindValue="value"
                formControlName="supervisorId"
                [loading]="employeesLoading"
                class="validate"
              >
              </ng-select>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label for="mainPhoneNumber">Phone Number</label>
              <input
                type="text"
                id="mainPhoneNumber"
                class="form-control"
                placeholder="Phone Number"
                formControlName="mainPhoneNumber"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button
              type="submit"
              [disabled]="!addDepartmentForm.valid || loading"
              rippleEffect
              class="btn btn-primary me-3"
            >
              <span
                *ngIf="loading"
                class="spinner-grow spinner-grow-sm"
                role="status"
                aria-hidden="true"
              ></span>
              <span class="ms-1" *ngIf="loading; else submit">
                Submitting...</span
              >
              <ng-template #submit>Submit</ng-template>
            </button>
            <button type="reset" rippleEffect class="btn btn-outline-secondary">
              Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

