.header-navbar.floating-nav {
    position: fixed;
    top: 0;
    //right: 30px;
    margin-top: 1.3rem;
    width: calc(100vw - (100vw - 100%) - 4rem - 250px);
    border-radius: .428rem;
    z-index: 12;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 24px #22292f1a;
    background: white;
    height: 70px;
}

.dropdown-user-link {
    display: flex;
    align-items: center;
}

.nav-link {
    color: #6e6b7b;
    padding: 0 0.5rem;
    position: relative;
}

.user-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    float: left;
    margin-right: 0.8rem;
}

// .user-name {
//     display: inline-block;
//     margin-bottom: 0.435rem;
//     margin-left: 0.2rem;
// }

.user-status {
    font-size: smaller;
}

.avatar img {
    border-radius: 50%;
}

.avatar [class*=avatar-status-] {
    border-radius: 50%;
    width: 11px;
    height: 11px;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid #fff;
}

.avatar .avatar-status-online {
    background-color: #28c76f;
}

.dropup, .dropright, .dropdown, .dropleft {
    position: relative;
}

.dropdown-menu {
    top: 41px !important;
}

.dropdown-menu {
    width: 12rem;
    margin-top: 10px;
}

.dropdown-menu {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: slideIn;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.dropdown-menu[x-placement^=top], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left] {
    right: auto;
    bottom: auto;
}

.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}

.dropdown-menu {
    transform: none;
}

.dropdown-menu {
    border-radius: 0.358rem;
    transform: scale(1, 0);
    box-shadow: 0 5px 25px rgba(34, 41, 47, 0.1);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0 0 0;
    font-size: 1rem;
    color: #6e6b7b;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(34, 41, 47, 0.05);
    border-radius: 0.358rem;
}

.dropdown-menu .dropdown-item {
    width: auto;
    cursor: pointer;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.65rem 1.28rem;
    clear: both;
    font-weight: 400;
    color: #6e6b7b;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}