<nav class="navbar header-navbar navbar-expand-lg floating-nav">
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search Trucks"
        aria-label="Search"
      />
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>

    <button routerLink="/login" class="btn btn-danger ml-1" rippleEffect>
      <i class="fas fa-power-off me-1"></i>
      <span class="d-none d-sm-inline-block">Logout</span>
    </button>
  </div>
</nav>
