<div class="row">
  <div class="col-md-9 col-12">
    <div class="card">
      <div class="card-body p-5">
        <div
          class="d-flex justify-content-between flex-md-row flex-column invoice-spacing mt-0"
        >
          <div>
            <h3 class="text-primary invoice-logo">JAM Trucking</h3>
            <p class="card-text mb-1">Office 149, 450 South Brand Brooklyn</p>
            <p class="card-text mb-1">San Diego County, CA 91905, USA</p>
            <p class="card-text mb-0">+1 (123) 456 7891, +44 (876) 543 2198</p>
          </div>
          <div>
            <h4 class="invoice-title">
              Invoice
              <span class="invoice-number">#7656</span>
            </h4>
            <div class="invoice-date-wrapper">
              <p class="invoice-date-title">Date Issued:</p>
              <p class="invoice-date">17/09/2023</p>
            </div>
            <div class="invoice-date-wrapper">
              <p class="invoice-date-title">Due Date:</p>
              <p class="invoice-date">17/09/2023</p>
            </div>
          </div>
        </div>
        <hr class="invoice-spacing">
        <div class="row">
            <div class="col-12">
                <h6 class="mb-2">Invoice To:</h6>
                  <h6 class="mb-1">John Doe</h6>
                  <p class="card-text mb-1">50 Main Street</p>
                  <p class="card-text mb-1">Montego Bay, St. James</p>
                  <p class="card-text mb-1">877-444-3333</p>
                  <p class="card-text mb-0">00000</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-12">
    <div class="card">
      <div class="card-body"></div>
    </div>
  </div>
</div>
