<div class="row">
  <div class="col-md-9 col-12">
    <div class="card">
      <div class="card-body p-5">
        <div
          class="d-flex justify-content-between flex-md-row flex-column invoice-spacing mt-0"
        >
          <div>
            <h3 class="text-primary invoice-logo">JAM Trucking</h3>
            <p class="card-text mb-1">237 Old Hope Road</p>
            <p class="card-text mb-1">Kingston 6, Jamaica</p>
            <p class="card-text mb-0">(123) 456 7891, (876) 999 3444</p>
          </div>
          <div>
            <h4 class="invoice-title">
              Invoice
              <span class="invoice-number">#7656</span>
            </h4>
            <div class="invoice-date-wrapper">
              <p class="invoice-date-title">Date Issued:</p>
              <p class="invoice-date">17/09/2023</p>
            </div>
            <div class="invoice-date-wrapper">
              <p class="invoice-date-title">Due Date:</p>
              <p class="invoice-date">17/09/2023</p>
            </div>
          </div>
        </div>
        <hr class="invoice-spacing" />
        <div class="row">
          <div class="col-12">
            <h6 class="mb-2">Invoice To:</h6>
            <h6 class="mb-1">John Doe</h6>
            <p class="card-text mb-1">50 Main Street</p>
            <p class="card-text mb-1">Montego Bay, St. James, 00000</p>
            <p class="card-text mb-1">877-444-3333</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table invoice-table">
                <thead>
                  <tr>
                    <th class="py-2">Description</th>
                    <th class="py-2">Rate</th>
                    <th class="py-2">Days</th>
                    <th class="py-2">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="py-2">
                      <p class="card-text font-weight-bold mb-25">
                        Mover Truck #828848 - 17/09/2023 - 20/09/2023
                      </p>
                    </td>
                    <td class="py-2">
                      <span class="font-weight-bold">$60.00</span>
                    </td>
                    <td class="py-2">
                      <span class="font-weight-bold">30</span>
                    </td>
                    <td class="py-2">
                      <span class="font-weight-bold">$1,800.00</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-6 col-12">
            <p class="card-text mb-0">
              <span class="font-weight-bold">Salesperson:</span>
              <span class="ms-3">Alfie Solomons</span>
            </p>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-end order-md-2 order-1">
            <div class="invoice-total-wrapper">
              <div class="invoice-total-item">
                <p class="invoice-total-title">Subtotal:</p>
                <p class="invoice-total-amount">$1800</p>
              </div>
              <div class="invoice-total-item">
                <p class="invoice-total-title">Discount:</p>
                <p class="invoice-total-amount">$0</p>
              </div>
              <div class="invoice-total-item">
                <p class="invoice-total-title">Tax:</p>
                <p class="invoice-total-amount">15%</p>
              </div>
              <hr class="my-50" />
              <div class="invoice-total-item">
                <p class="invoice-total-title">Total:</p>
                <p class="invoice-total-amount">$2070</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-12">
    <div class="card">
      <div class="card-body"></div>
    </div>
  </div>
</div>
